<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://judashlie.github.io/blog/atom.xml">rss</a></li>
	        		<li><a href="http://www.twitter.com/dex">twitter</a></li>
	        		<li><a href="mailto:judashlie@gmail.com">email</a></li>
	        		<li><a href="https://github.com/judashlie">github.com/judashlie</a></li>
				</ul>
			</footer>
		</body>
	</html>
